parameters:

php:
	date.timezone: Europe/Prague

services:
	- UserManager

session:
	expiration: 14 days

extensions:
	genderer: Haltuf\Genderer\Bridges\NetteDI\GendererExtension

genderer:
	dsn: sqlite:../../src/Genderer/names.db3
	driver: Haltuf\Genderer\Connection

database:
	dsn: 'mysql:host=127.0.0.1;dbname=test'
	user:
	password:
	options:
		lazy: yes
